<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Set the base path of the application
  RewriteBase /ALJ_Jonage_Escalade/

  # Redirect trailing slash to non-trailing slash (optional but good for SEO)
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)/$ /$1 [L,R=301]

  # Add a trailing slash to the base directory if it's missing
  RewriteCond %{REQUEST_URI} ^/ALJ_Jonage_Escalade$
  RewriteRule ^(.*)$ http://%{HTTP_HOST}/ALJ_Jonage_Escalade/ [L,R=301]

  # Handle React Router paths
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set X-Powered-By "Hostinger Horizons"

  # Cache everything on CDN by default
  Header set Cache-Control "public, s-maxage=604800, max-age=0"
  
  # Cache in browser all assets
  <If "%{REQUEST_URI} =~ m#^/assets/.*$#">
    Header set Cache-Control "public, max-age=604800"
  </If>
</IfModule>
